<div>
    <h4>
        {{#eq spraak "en"}}
            Work and education
        {{else}}
            Arbeid og utdanning
        {{/eq}}
    </h4>

    <div class="row">
        <div class="col">
            {{this.dinSituasjon.spoersmaal}}
        </div>
        <div class="col">
            {{#each this.dinSituasjon.svar}}
                • {{this.innhold}} <br />
            {{/each}}
        </div>
    </div>

    {{#with soeker.arbeidOgUtdanning.arbeidsforhold.svar as | arbeidsforhold |}}
        {{#each arbeidsforhold}}
            <div class="{{#gt arbeidsforhold.length 1}}panel{{/gt}}">
                <h4>
                    {{#eq spraak "en"}}
                        About your employer
                    {{else}}
                        {{#eq spraak "nn"}}
                            Om arbeidsforhold
                        {{else}}
                            Om arbeidsgiver
                        {{/eq}}
                    {{/eq}}
                </h4>

                {{> eypdfgen/partials_v2/common/opplysning this.arbeidsgiver}}

                {{> eypdfgen/partials_v2/common/opplysning this.ansettelsesforhold}}

                {{> eypdfgen/partials_v2/common/opplysning this.stillingsprosent}}

                {{> eypdfgen/partials_v2/common/opplysning this.endretInntekt}}

                {{#eq this.endretInntekt.svar "JA" }}
                    {{> eypdfgen/partials_v2/common/opplysning this.endretInntekt}}
                {{/eq}}
            </div>
        {{/each}}
    {{/with}}
</div>
