<tr>
    <td>{{this.spoersmaal}}</td>
    <td>{{capitalize_names this.svar}}</td>
</tr>

{{#eq this.svar "JA"}}
    <tr>
        <td colspan="2">
            <table class="inner">
                <tbody>
                <tr>
                    <td>Verge</td>
                    <td>
                        {{#with this.opplysning}}
                            {{capitalize_names this.fornavn}}
                            {{capitalize_names this.etternavn}}
                            ({{this.foedselsnummer}})
                        {{/with}}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
{{/eq}}
