<table>
    <thead>
    <tr>
        <th colspan="2">Ytelser</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{this.kravOmAnnenStonad.spoersmaal}}</td>
        <td>{{capitalize_names this.kravOmAnnenStonad.svar}}</td>
    </tr>
    {{#eq this.kravOmAnnenStonad.svar "JA"}}
        <tr>
            <td>{{this.kravOmAnnenStonad.opplysning.spoersmaal}}</td>
            <td>{{capitalize_names this.kravOmAnnenStonad.opplysning.svar}}</td>
        </tr>
    {{/eq}}

    <tr class="divider">
        <td colspan="2">
            <br/>
        </td>
    </tr>

    <tr>
        <td>{{this.annenPensjon.spoersmaal}}</td>
        <td>{{capitalize_names this.annenPensjon.svar}}</td>
    </tr>
    {{#eq this.annenPensjon.svar "JA"}}
        <tr>
            <td>{{this.annenPensjon.opplysning.spoersmaal}}</td>
            <td>{{this.annenPensjon.opplysning.svar}}</td>
        </tr>
    {{/eq}}

    <tr class="divider">
        <td colspan="2">
            <br/>
        </td>
    </tr>

    <tr>
        <td>{{this.pensjonUtland.spoersmaal}}</td>
        <td>{{capitalize_names this.pensjonUtland.svar}}</td>
    </tr>
    {{#eq this.pensjonUtland.svar "JA"}}
        <tr>
            <td>{{this.pensjonUtland.opplysning.pensjonsType.spoersmaal}}</td>
            <td>{{this.pensjonUtland.opplysning.pensjonsType.svar}}</td>
        </tr>
        <tr>
            <td>{{this.pensjonUtland.opplysning.land.spoersmaal}}</td>
            <td>{{this.pensjonUtland.opplysning.land.svar}}</td>
        </tr>
        <tr>
            <td>{{this.pensjonUtland.opplysning.bruttobeloepPrAar.spoersmaal}}</td>
            <td>{{this.pensjonUtland.opplysning.bruttobeloepPrAar.svar}}</td>
        </tr>
    {{/eq}}
    </tbody>
</table>
