<table>
    <thead>
    <tr>
        <th colspan="2">Arbeid og utdanning</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{this.dinSituasjon.spoersmaal}}</td>
        <td>
            {{#each this.dinSituasjon.svar}}
                - {{capitalize_names this}} <br/>
            {{/each}}
        </td>
    </tr>

    {{#each soeker.arbeidOgUtdanning.arbeidsforhold.svar}}
        <tr>
            <td colspan="2">
                <table class="inner">
                    <thead>
                    <tr>
                        <th colspan="2">Om arbeidsgiver</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>{{this.arbeidsgiver.spoersmaal}}</td>
                        <td>{{this.arbeidsgiver.svar}}</td>
                    </tr>
                    <tr>
                        <td>{{this.ansettelsesforhold.spoersmaal}}</td>
                        <td>{{capitalize_names this.ansettelsesforhold.svar}}</td>
                    </tr>
                    <tr>
                        <td>{{this.stillingsprosent.spoersmaal}}</td>
                        <td>{{this.stillingsprosent.svar}}</td>
                    </tr>
                    <tr>
                        <td>{{this.endretInntekt.spoersmaal}}</td>
                        <td>{{capitalize_names this.endretInntekt.svar}}</td>
                    </tr>
                    {{#if this.endretInntekt.svar "JA" }}
                        <tr>
                            <td>{{this.endretInntekt.opplysning.spoersmaal}}</td>
                            <td>{{this.endretInntekt.opplysning.svar}}</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
