{{#if soeker.arbeidOgUtdanning.selvstendig.svar}}
    <table>
        <thead>
        <tr>
            <th colspan="2">Selvstendig næringsdrivende</th>
        </tr>
        </thead>

        <tbody>
        {{#each soeker.arbeidOgUtdanning.selvstendig.svar}}
            <tr>
                <td colspan="2">
                    <table class="inner">
                        <tbody>
                        <tr>
                            <td>{{this.firmanavn.spoersmaal}}</td>
                            <td>{{this.firmanavn.svar}}</td>
                        </tr>
                        <tr>
                            <td>{{this.orgnr.spoersmaal}}</td>
                            <td>{{this.orgnr.svar}}</td>
                        </tr>
                        <tr>
                            <td>{{this.endretInntekt.spoersmaal}}</td>
                            <td>{{capitalize_names this.endretInntekt.svar}}</td>
                        </tr>
                        {{#if this.endretInntekt.svar "JA" }}
                            <tr>
                                <td>{{this.endretInntekt.opplysning.spoersmaal}}</td>
                                <td>{{this.endretInntekt.opplysning.svar}}</td>
                            </tr>
                        {{/if}}
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/if}}
