<div id="footer">
    <div class="footer-content">
        <p>{{ avsender.kontor }}</p>
        <p>Postadresse: {{ avsender.kontor }} // {{ avsender.adresse }} // {{ avsender.postnummer }}</p>
        <p>Telefon: {{ avsender.telefon }} // nav.no</p>
    </div>

    <span class="sidetall">
        Side <span id="currentpage"></span> av <span id="pagecount"></span>
    </span>
</div>
