<div id="header">
    <img class="navlogo" src="{{ image "Navlogo-roed.png" }}" />
    <div class="header-content">
        <div class="user-info">
            <!-- TODO: Bruk uppercase helper når tilgjengelig -->
            <p>{{mottaker.navn}}</p>
            <p>{{mottaker.adresse}}</p>
            <p>{{mottaker.postnummer}}</p>
        </div>
        <p class="date">Dato: {{utsendingsDato}}</p>

    </div>
</div>
