<div id="header">
    <img class="navlogo" src="{{ image "Navlogo-roed.png" }}" />

    <div class="header-content">
        <div class="user-info">
            <p>{{uppercase mottaker.navn}}</p>
            <p>{{uppercase mottaker.adresse}}</p>
            <p>{{uppercase mottaker.postnummer}}</p>
        </div>

        <p class="date">Dato: {{iso_to_date utsendingsDato}}</p>
    </div>
</div>
