<div class="row">
    <p>
        Du får {{utbetalingsinfo.beloep}} kroner før skatt fra {{utbetalingsinfo.virkningsdato}}
        fordi {{avdoed.navn}} døde {{avdoed.doedsdato}}.
    </p>

    <p>
        Vi kan tidligst innvilge søknaden din DATO. Dette går frem av folketrygdloven § 22-13.
    </p>

    <p>
        Barnepensjonen din utbetales til kontonummer {{utbetalingsinfo.kontonummer}} innen den 20. hver måned.
        Du finner oversikt over utbetalingsdatoene på
        <a href="https://www.nav.no/utbetalinger">nav.no/utbetalinger</a>.
    </p>

    <p>
        Vi forutsetter at du bor i Norge. Hvis du skal flytte til et annet land, må du kontakte oss slik at vi kan
        vurdere om du fortsatt har rett til barnepensjon.
    </p>

    <p>
        Vedtaket er gjort etter folketrygdloven kapittel 18
        {{#each aktuelleParagrafer}}
            {{this}},
        {{/each}}
        og § 22-12.
    </p>

    <p>
        Barnepensjonen skal styrkes. Les mer om regelendringene <a href="https://www.nav.no">her</a>.
    </p>
</div>
