<p>Sendt inn av {{this.innsender.fornavn}} {{this.innsender.etternavn}} ({{this.innsender.foedselsnummer}}) den {{iso_to_nor_datetime this.mottattDato}}
{{#not_eq this.soeker.foedselsnummer this.innsender.foedselsnummer}}
på vegne av {{this.soeker.fornavn}} {{this.soeker.etternavn}} ({{this.soeker.foedselsnummer}})
{{/not_eq}}
</p>
