<table class="simple">
    <thead>
    <tr>
        <th colspan="2">
            Sendt inn av:
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Navn</td>
        <td>{{this.innsender.fornavn}} {{this.innsender.etternavn}}</td>
    </tr>
    <tr>
        <td>Fødselsnummer</td>
        <td>{{this.innsender.foedselsnummer}}</td>
    </tr>

    <tr>
        <td>Mottatt dato</td>
        <td>{{iso_to_nor_datetime this.mottattDato}}</td>
    </tr>

    {{#not_eq this.soeker.foedselsnummer this.innsender.foedselsnummer}}
        <tr>
            <td>På vegne av</td>
            <td>{{this.soeker.fornavn}} {{this.soeker.etternavn}} ({{this.soeker.foedselsnummer}})</td>
        </tr>
    {{/not_eq}}
    </tbody>
</table>
