<table>
    <thead>
    <tr>
        <th colspan="2">
            {{#eq spraak "en"}}
                Time spent outside Norway
            {{else}}
                {{#eq spraak "nn"}}
                    Opphald utanfor Noreg
                {{else}}
                    Opphold utenfor Norge
                {{/eq}}
            {{/eq}}
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        {{> eypdfgen/partials_v2/common/opplysning this}}
    </tr>

    {{#eq this.svar.verdi "JA"}}
        {{#each this.opplysning}}
            <tr>
                <td colspan="2">
                    <table class="inner">
                        <thead>
                        <tr>
                            <th colspan="2">{{this.land.svar.innhold}}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {{> eypdfgen/partials_v2/common/opplysning this.land}}

                        {{> eypdfgen/partials_v2/common/datoOpplysning this.fraDato}}

                        {{> eypdfgen/partials_v2/common/datoOpplysning this.tilDato}}

                        <tr>
                            <td>{{this.oppholdsType.spoersmaal}}</td>
                            <td>
                                {{#each this.oppholdsType.svar}}
                                    - {{this.innhold}} <br/>
                                {{/each}}
                            </td>
                        </tr>

                        {{> eypdfgen/partials_v2/common/opplysning this.medlemFolketrygd}}

                        {{> eypdfgen/partials_v2/common/opplysning this.pensjonsutbetaling}}
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/each}}
    {{/eq}}
    </tbody>
</table>
