<h2>
    {{#eq spraak "en"}}
        About the survivor
    {{else}}
        {{#eq spraak "nn"}}
            Om den attlevande
        {{else}}
            Om den gjenlevende
        {{/eq}}
    {{/eq}}
</h2>

{{> eypdfgen/partials_v2/common/personalia/enkelPersonalia this}}

<div class="row">
    <div class="col">
        {{this.statsborgerskap.spoersmaal}}
    </div>
    <div class="col">
        {{this.statsborgerskap.svar}}
    </div>
</div>

<div class="row">
    <div class="col">
        {{this.sivilstatus.spoersmaal}}
    </div>
    <div class="col">
        {{this.sivilstatus.svar}}
    </div>
</div>

{{#if this.adresse}}
    <div class="row">
        <div class="col">
            {{this.adresse.spoersmaal}}
        </div>
        <div class="col">
            {{this.adresse.svar}}
        </div>
    </div>
{{/if}}

{{#if this.flyktning}}
    <div class="row">
        <div class="col">
            {{this.flyktning.spoersmaal}}
        </div>
        <div class="col">
            {{capitalize_names this.flyktning.svar}}
        </div>
    </div>
{{/if}}

{{#if this.bostedsAdresse}}
    {{> eypdfgen/partials_v2/common/opplysning this.bostedsAdresse}}

    {{#eq this.bostedsAdresse.svar.verdi "NEI"}}
        {{> eypdfgen/partials_v2/common/opplysning this.bostedsAdresse.opplysning}}
    {{/eq}}
{{/if}}

{{> eypdfgen/partials_v2/common/personalia/kontaktinfo this.kontaktinfo}}

{{> eypdfgen/partials_v2/gjenlevendepensjon/gjenlevende/oppholdsland this.oppholdUtland}}

{{> eypdfgen/partials_v2/gjenlevendepensjon/gjenlevende/sivilstatus this.nySivilstatus}}

{{> eypdfgen/partials_v2/gjenlevendepensjon/gjenlevende/forholdTilAvdoede this.forholdTilAvdoede}}

{{> eypdfgen/partials_v2/gjenlevendepensjon/gjenlevende/situasjonenDin this}}
