<h2>
    {{#eq spraak "en"}}
        About the survivor
    {{else}}
        {{#eq spraak "nn"}}
            Om den attlevande
        {{else}}
            Om den gjenlevende
        {{/eq}}
    {{/eq}}
</h2>

<table>
    <thead>
    <tr>
        <th colspan="2">Personalia</th>
    </tr>
    </thead>

    <tbody>
        {{> eypdfgen/partials_v2/common/personalia/enkelPersonalia this}}

        <tr>
            <td>{{this.statsborgerskap.spoersmaal}}</td>
            <td>{{this.statsborgerskap.svar}}</td>
        </tr>
        <tr>
            <td>{{this.sivilstatus.spoersmaal}}</td>
            <td>{{this.sivilstatus.svar}}</td>
        </tr>

        {{#if this.adresse}}
        <tr>
            <td>{{this.adresse.spoersmaal}}</td>
            <td>{{this.adresse.svar}}</td>
        </tr>
        {{/if}}

        {{#if this.flyktning}}
            <tr>
                <td>{{this.flyktning.spoersmaal}}</td>
                <td>{{capitalize_names this.flyktning.svar}}</td>
            </tr>
        {{/if}}

        {{#if this.bostedsAdresse}}
            {{> eypdfgen/partials_v2/common/opplysning this.bostedsAdresse}}

            {{#eq this.bostedsAdresse.svar.verdi "NEI"}}
                 {{> eypdfgen/partials_v2/common/opplysning this.bostedsAdresse.opplysning}}
            {{/eq}}
        {{/if}}
    </tbody>
</table>

{{> eypdfgen/partials_v2/common/personalia/kontaktinfo this.kontaktinfo}}

{{> eypdfgen/partials_v2/gjenlevendepensjon/gjenlevende/oppholdsland this.oppholdUtland}}

{{> eypdfgen/partials_v2/gjenlevendepensjon/gjenlevende/sivilstatus this.nySivilstatus}}

{{> eypdfgen/partials_v2/gjenlevendepensjon/gjenlevende/forholdTilAvdoede this.forholdTilAvdoede}}

{{> eypdfgen/partials_v2/gjenlevendepensjon/gjenlevende/situasjonenDin this}}
