<h2>
    {{#eq spraak "en"}}
        Information about the survivors current situation
    {{else}}
        {{#eq spraak "nn"}}
            Opplysingar om attlevandes situasjon
        {{else}}
            Opplysninger om gjenlevendes situasjon
        {{/eq}}
    {{/eq}}
</h2>

{{#with soeker.arbeidOgUtdanning}}
    {{> eypdfgen/partials_v2/gjenlevendepensjon/gjenlevende/situasjon/arbeidstaker}}

    {{> eypdfgen/partials_v2/gjenlevendepensjon/gjenlevende/situasjon/selvstendig}}

    {{#with soeker.arbeidOgUtdanning.utdanning.svar}}
        <div>
            <h4>
                {{#eq spraak "en"}}
                    Education
                {{else}}
                    Utdanning
                {{/eq}}
            </h4>

            {{> eypdfgen/partials_v2/common/opplysning this.navn}}

            {{> eypdfgen/partials_v2/common/datoOpplysning this.startDato}}

            {{> eypdfgen/partials_v2/common/datoOpplysning this.sluttDato}}
        </div>
    {{/with}}

    {{#with soeker.arbeidOgUtdanning.annet}}
        <div>
            <h4>
                {{#eq spraak "en"}}
                    Other
                {{else}}
                    {{#eq spraak "nn"}}
                        Anna
                    {{else}}
                        Annet
                    {{/eq}}
                {{/eq}}
            </h4>

            {{> eypdfgen/partials_v2/common/opplysning this}}
        </div>
    {{/with}}
{{/with}}

{{#with soeker.fullfoertUtdanning}}
    <div>
        <h4>
            {{#eq spraak "en"}}
                Completed education
            {{else}}
                Fullført utdanning
            {{/eq}}
        </h4>

        {{> eypdfgen/partials_v2/common/opplysning this}}

        {{#with this.opplysning }}
            {{> eypdfgen/partials_v2/common/opplysning this}}
        {{/with}}
    </div>
{{/with}}

{{> eypdfgen/partials_v2/gjenlevendepensjon/gjenlevende/situasjon/andreYtelser soeker.andreYtelser}}
