<table>
    <thead>
    <tr>
        <th colspan="2">Næringsinntekt</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{this.spoersmaal}}</td>
        <td>{{capitalize_names this.svar}}</td>
    </tr>
    {{#eq this.svar "JA"}}
        <tr>
            <td>{{this.opplysning.naeringsinntektPrAarFoerDoedsfall.spoersmaal}}</td>
            <td>{{this.opplysning.naeringsinntektPrAarFoerDoedsfall.svar}}</td>
        </tr>
        <tr>
            <td>{{this.opplysning.naeringsinntektVedDoedsfall.spoersmaal}}</td>
            <td>{{capitalize_names this.opplysning.naeringsinntektVedDoedsfall.svar}}</td>
        </tr>

    {{/eq}}
    </tbody>
</table>
