<table>
    <thead>
    <tr>
        <th colspan="2">Utenlandsopphold</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{this.spoersmaal}}</td>
        <td>{{capitalize_names this.svar}}</td>
    </tr>

    {{#eq this.svar "JA"}}
        {{#each this.opplysning}}
            <tr>
                <td colspan="2">
                    <table class="inner">
                        <thead>
                        <tr>
                            <th colspan="2">Opphold i {{this.land.svar}}</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>{{this.land.spoersmaal}}</td>
                            <td>{{this.land.svar}}</td>
                        </tr>
                        {{#if this.fraDato}}
                        <tr>
                            <td>{{this.fraDato.spoersmaal}}</td>
                            <td>{{iso_to_date this.fraDato.svar}}</td>
                        </tr>
                        {{/if}}
                        {{#if this.tilDato}}
                        <tr>
                            <td>{{this.tilDato.spoersmaal}}</td>
                            <td>{{iso_to_date this.tilDato.svar}}</td>
                        </tr>
                        {{/if}}
                        <tr>
                            <td>{{this.oppholdsType.spoersmaal}}</td>
                            <td>
                                {{#each this.oppholdsType.svar}}
                                    - {{capitalize_names this}} <br/>
                                {{/each}}
                            </td>
                        </tr>
                        <tr>
                            <td>{{this.medlemFolketrygd.spoersmaal}}</td>
                            <td>{{capitalize_names this.medlemFolketrygd.svar}}</td>
                        </tr>
                        <tr>
                            <td>{{this.pensjonsutbetaling.spoersmaal}}</td>
                            <td>{{this.pensjonsutbetaling.svar}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/each}}
    {{/eq}}
    </tbody>
</table>
