<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        td {
            font-size: 0.9em;
            vertical-align: top;
            word-wrap: break-word;
        }

        table {
            width: 100%;
            border: 1px black solid;
            margin-bottom: 0.5cm;
        }

        table thead {
            background-color: lightblue;
        }

        td h4 {
            margin: 0;
        }

        .tr50 {
            width: 50%;
        }

        .signaturHeader {
            margin-bottom: 3em;
        }

        body {
            page-break-inside: avoid;
        }
    </style>
    <title>SØKNAD</title>
</head>
<body>

<div class="forNavOgPersonopplysningerContainer">
    <table>
        <thead>
        <tr>
            <td class="tr50"><h4>For NAV</h4></td>
            <td></td>
        </tr>
        </thead>

        <tbody>
        {{#with søknadInnhold.forNav}}
            <tr>
                <td>Saksnummer:</td>
                <td>{{saksnummer}}</td>
            </tr>
            <tr>
                <td>Søknads-id:</td>
                <td>{{søknadsId}}</td>
            </tr>
            <tr>
                <td>Søknadsdato:</td>
                <td>{{søknadOpprettet}}</td>
            </tr>
            {{#eq type "DigitalSøknad"}}
                <tr>
                    <td>Har søker møtt personlig:</td>
                    <td>{{#if harFullmektigEllerVerge}} Nei {{else}} Ja {{/if}}</td>
                </tr>

                {{#if harFullmektigEllerVerge}}
                    <tr>
                        <td>Har søker fullmektig eller verge?</td>
                        <td>{{harFullmektigEllerVerge}}</td>
                    </tr>
                {{/if}}
            {{/eq}}
            {{#eq type "Papirsøknad"}}
                <tr>
                    <td>Søknad innsendt på papir:</td>
                    <td>Ja</td>
                </tr>
                <tr>
                    <td>Mottatt dato:</td>
                    <td>{{mottaksdatoForSøknad}}</td>
                </tr>
                <tr>
                    <td>Grunn for papirinnsending:</td>
                    <td>
                        {{#eq grunnForPapirinnsending "VergeHarSøktPåVegneAvBruker"}}
                            Verge har søkt på vegne av bruker
                        {{/eq}}
                        {{#eq grunnForPapirinnsending "MidlertidigUnntakFraOppmøteplikt"}}
                            Midlertidig unntak fra oppmøteplikt
                        {{/eq}}
                        {{#eq grunnForPapirinnsending "Annet"}}
                            Annet
                        {{/eq}}
                    </td>
                </tr>
                {{#eq grunnForPapirinnsending "Annet"}}
                    <tr>
                        <td></td>
                        <td>{{annenGrunn}}</td>
                    </tr>
                {{/eq}}
            {{/eq}}
        {{/with}}
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <td class="tr50"><h4>Personopplysninger</h4></td>
            <td></td>
        </tr>
        </thead>

        <tbody>
        {{#with søknadInnhold.personopplysninger}}
            <tr>
                <td>Fødselsnummer:</td>
                <td>{{this.fnr}}</td>
            </tr>
            <tr>
                <td>Navn:</td>
                <td>{{navn.fornavn}} {{navn.mellomnavn}} {{navn.etternavn}}</td>
            </tr>
        {{/with}}

        {{#with søknadInnhold.boforhold}}
            <tr>
                <td>Addresse:</td>
                <td>
                    {{#if this.oppgittAdresse.adresselinje}}
                        {{#if this.oppgittAdresse.bruksenhet}}
                            {{this.oppgittAdresse.adresselinje}} {{this.oppgittAdresse.bruksenhet}},
                        {{else}}
                            {{this.oppgittAdresse.adresselinje}},
                        {{/if}}
                        {{this.oppgittAdresse.postnummer}} {{this.oppgittAdresse.poststed}}
                    {{else}}
                        {{#eq this.oppgittAdresse.grunn "HAR_IKKE_FAST_BOSTED"}}
                            Har ikke fast bosted
                        {{/eq}}
                        {{#eq this.oppgittAdresse.grunn "BOR_PÅ_ANNEN_ADRESSE"}}
                            Bor på en annen adresse
                        {{/eq}}
                    {{/if}}
                </td>
            </tr>
        {{/with}}
        </tbody>
    </table>
</div>

<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Uførevedtak</h4></td>
        <td></td>
    </tr>
    </thead>

    <tbody>
    {{#with søknadInnhold.uførevedtak}}
        <tr>
            <td>Har du fått svar på søknaden din om uføretrygd?</td>
            <td>{{#if this.harUførevedtak}} Ja {{else}} Nei {{/if}}</td>
        </tr>
    {{/with}}
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Flyktningstatus</h4></td>
        <td></td>
    </tr>
    </thead>

    <tbody>
    {{#with søknadInnhold.flyktningsstatus}}
        <tr>
            <td>Er du registrert som flyktning?</td>
            <td>{{#if this.registrertFlyktning}} Ja {{else}} Nei {{/if}}</td>
        </tr>
    {{/with}}
    {{#with søknadInnhold.oppholdstillatelse}}
        <tr>
            <td>Er du norsk statsborger?</td>
            <td>{{#if this.erNorskStatsborger}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#unless this.erNorskStatsborger}}
            <tr>
                <td>Har du oppholdstillatelse i Norge?</td>
                <td>{{#if this.harOppholdstillatelse}} Ja {{else}} Nei {{/if}}</td>
            </tr>
            {{#if this.harOppholdstillatelse}}
                <tr>
                    <td>Er oppholdstillatelsen din permanent eller midlertidig?</td>
                    <td>{{#eq this.oppholdstillatelseType "MIDLERTIDIG"}} Midlertidig {{else}} Permanent {{/eq}}</td>
                </tr>
            {{/if}}
        {{/unless}}
        <tr>
            <td>Har du statsborgerskap i andre land enn Norge?</td>
            <td>{{#if this.statsborgerskapAndreLand}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.statsborgerskapAndreLand}}
            <tr>
                <td>Hvilke land har du statsborgerskap i?</td>
                <td>{{statsborgerskapAndreLandFritekst}}</td>
            </tr>
        {{/if}}
    {{/with}}
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Bo og opphold i Norge</h4></td>
        <td></td>
    </tr>
    </thead>

    <tbody>
    {{#with søknadInnhold.boforhold}}
        <tr>
            <td>Bor og oppholder du deg i Norge?</td>
            <td>{{#if this.borOgOppholderSegINorge}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        <tr>
            <td>Har du vært innlagt på institusjon de siste tre månedene?</td>
            <td>{{#if this.innlagtPåInstitusjon.datoForInnleggelse}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.innlagtPåInstitusjon.datoForInnleggelse}}
            <tr>
                <td>Dato for innleggelse:</td>
                <td>{{iso_to_date this.innlagtPåInstitusjon.datoForInnleggelse}}</td>
            </tr>
            <tr>
                <td>Dato for utskrivelse:</td>
            <td>
            {{#if this.innlagtPåInstitusjon.datoForUtskrivelse}}
                {{iso_to_date this.innlagtPåInstitusjon.datoForUtskrivelse}}
            {{else}}
                    Fortsatt innlagt
                </td>
                </tr>
            {{/if}}
        {{/if}}
        <tr>
            <td>Deler du bolig med noen over 18 år?</td>
            <td>{{#if this.delerBolig}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.delerBolig}}
            <tr>
                <td>Hvem deler du bolig med?</td>
                <td>
                    {{#eq this.delerBoligMed "EKTEMAKE_SAMBOER"}}
                        Ektefelle eller samboer
                    {{/eq}}
                    {{#eq this.delerBoligMed "VOKSNE_BARN"}}
                        Voksne barn
                    {{/eq}}
                    {{#eq this.delerBoligMed "ANNEN_VOKSEN"}}
                        Annen voksen
                    {{/eq}}
                </td>
            </tr>
        {{/if}}

        {{#eq this.delerBoligMed "EKTEMAKE_SAMBOER"}}
            <tr>
                <td>Fødselsnummeret til ektefelle eller samboer</td>
                <td>{{this.ektefellePartnerSamboer.fnr}}</td>
            </tr>
            <tr>
                <td>Er ektefelle eller samboer ufør flyktning?</td>
                <td>{{#if this.ektefellePartnerSamboer.erUførFlyktning}} Ja {{else}} Nei {{/if}}</td>
            </tr>
        {{/eq}}


    {{/with}}
    </tbody>
</table>


<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Din formue</h4></td>
        <td></td>
    </tr>
    </thead>

    <tbody>
    {{#with søknadInnhold.formue}}
        <tr>
            <td>Eier du en bolig?</td>
            <td>{{#if this.eierBolig}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.eierBolig}}
            <tr>
                <td>Bor du i boligen?</td>
                <td>{{#if this.borIBolig}} Ja {{else}} Nei {{/if}}</td>
            </tr>
        {{/if}}
        {{#if this.boligBrukesTil}}
            <tr>
                <td>Formuesverdi på boligen</td>
                <td>{{currency_no verdiPåBolig}}</td>
            </tr>
            <tr>
                <td>Hva brukes boligen til?</td>
                <td>{{boligBrukesTil}}</td>
            </tr>
        {{/if}}
        <tr>
            <td>Eier du andre eiendommer i Norge eller utlandet?</td>
            <td>{{#if this.verdiPåEiendom}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.verdiPåEiendom}}
            <tr>
                <td>Samlet formuesverdi av eiendommene</td>
                <td>{{currency_no this.verdiPåEiendom}}</td>
            </tr>
            <tr>
                <td>Hva brukes eiendommene til?</td>
                <td>{{this.eiendomBrukesTil}}</td>
            </tr>
        {{/if}}
        {{#unless this.eierBolig}}
            {{#if this.depositumsBeløp}}
                <tr>
                    <td>Har du en depositumskonto som leietaker?</td>
                    <td>Ja</td>
                </tr>
                <tr>
                    <td>Beløp på depositumskontoen</td>
                    <td>{{currency_no depositumsBeløp}}</td>
                </tr>
                <tr>
                    <td>Kontonummer</td>
                    <td>{{kontonummer}}</td>
                </tr>
            {{/if}}
        {{/unless}}
        <tr>
            <td>Eier du bil, campingvogn eller andre kjøretøy?</td>
            <td>{{#if this.kjøretøy}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.kjøretøy}}
            {{#each this.kjøretøy}}
                <tr>
                    <td>Registreringsnummer:</td>
                    <td>{{kjøretøyDeEier}}</td>
                </tr>
                <tr>
                    <td>Verdien av kjøretøyet:</td>
                    <td>{{currency_no verdiPåKjøretøy}}</td>
                </tr>
            {{/each}}
        {{/if}}
        <tr>
            <td>Har du penger på konto?</td>
            <td>{{#if this.innskuddsBeløp}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.innskuddsBeløp}}
            <tr>
                <td>Samlet verdi i kroner</td>
                <td>{{currency_no this.innskuddsBeløp}}</td>
            </tr>
        {{/if}}
        <tr>
            <td>Har du aksjer, aksjefond eller verdipapir?</td>
            <td>{{#if this.verdipapirBeløp}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.verdipapirBeløp}}
            <tr>
                <td>Samlet verdi i kroner</td>
                <td>{{currency_no this.verdipapirBeløp}}</td>
            </tr>
        {{/if}}
        <tr>
            <td>Skylder noen deg mer enn 1000 kr?</td>
            <td>{{#if this.skylderNoenMegPengerBeløp}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.skylderNoenMegPengerBeløp}}
            <tr>
                <td>Beløp i kroner</td>
                <td>{{currency_no this.skylderNoenMegPengerBeløp}}</td>
            </tr>
        {{/if}}
        <tr>
            <td>Har du mer enn 1000 kr i kontanter?</td>
            <td>{{#if this.kontanterBeløp}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.skylderNoenMegPengerBeløp}}
            <tr>
                <td>Beløp i kroner</td>
                <td>{{currency_no this.kontanterBeløp}}</td>
            </tr>
        {{/if}}
    {{/with}}
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Din inntekt</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {{#with søknadInnhold.inntektOgPensjon}}
        <tr>
            <td>Forventer du å ha arbeidsinntekt fremover?</td>
            <td>{{#if this.forventetInntekt}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.forventetInntekt}}
            <tr>
                <td>Forventet arbeidsinntekt i kroner per måned</td>
                <td>{{currency_no this.forventetInntekt}}</td>
            </tr>
        {{/if}}
        <tr>
            <td>Har du andre ytelser i NAV?</td>
            <td>{{#if this.andreYtelserINav}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.andreYtelserINav}}
            <tr>
                <td>Hvilke ytelser?</td>
                <td>{{this.andreYtelserINav}}</td>
            </tr>
            <tr>
                <td>Beløp i kroner per måned</td>
                <td>{{currency_no this.andreYtelserINavBeløp}}</td>
            </tr>
        {{/if}}
        <tr>
            <td>Har du søkt om andre trygdeytelser som ikke er behandlet?</td>
            <td>{{#if this.søktAndreYtelserIkkeBehandletBegrunnelse}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.søktAndreYtelserIkkeBehandletBegrunnelse}}
            <tr>
                <td>Hvilke?</td>
                <td>{{this.søktAndreYtelserIkkeBehandletBegrunnelse}}</td>
            </tr>
        {{/if}}

        <tr>
            <td>Har du mottatt sosialstønad i løpet av de siste tre månedene?</td>
            <td>{{#if this.sosialstønadBeløp}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.sosialstønadBeløp}}
            <tr>
                <td>Beløp i kroner for alle tre månedene (valgfri)</td>
                <td>{{currency_no this.sosialstønadBeløp}}</td>
            </tr>
        {{/if}}

        <tr>
            <td>Har du trygdeytelser i utlandet?</td>
            <td>{{#if this.trygdeytelseIUtlandet}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.trygdeytelseIUtlandet}}
            {{#each this.trygdeytelseIUtlandet}}
                <tr>
                    <td>Beløp i lokal valuta per måned:</td>
                    <td>{{currency_no this.beløp}}</td>
                </tr>
                <tr>
                    <td>Valuta</td>
                    <td>{{this.valuta}}</td>
                </tr>
                <tr>
                    <td>Type ytelse</td>
                    <td>{{this.type}}</td>
                </tr>
            {{/each}}
        {{/if}}
        <tr>
            <td>Mottar du tjenestepensjon eller pensjon?</td>
            <td>{{#if this.pensjon}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.pensjon}}
            {{#each this.pensjon}}
                <tr>
                    <td>Pensjonsgiver</td>
                    <td>{{this.ordning}}</td>
                </tr>
                <tr>
                    <td>Beløp per måned</td>
                    <td>{{currency_no this.beløp}}</td>
                </tr>
            {{/each}}
        {{/if}}
    {{/with}}
    </tbody>
</table>


{{#with søknadInnhold.boforhold}}
    {{#eq this.delerBoligMed "EKTEMAKE_SAMBOER"}}
        <table>
            <thead>
            <tr>
                <td class="tr50"><h4>Ektefelle/samboers formue</h4></td>
                <td></td>
            </tr>
            </thead>

            <tbody>
            {{#with søknadInnhold.ektefelle.formue}}
                <tr>
                    <td>Eier du en bolig?</td>
                    <td>{{#if this.eierBolig}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if this.eierBolig}}
                    <tr>
                        <td>Bor du i boligen?</td>
                        <td>{{#if this.borIBolig}} Ja {{else}} Nei {{/if}}</td>
                    </tr>
                {{/if}}
                {{#if this.boligBrukesTil}}
                    <tr>
                        <td>Formuesverdi på boligen</td>
                        <td>{{currency_no verdiPåBolig}}</td>
                    </tr>
                    <tr>
                        <td>Hva brukes boligen til?</td>
                        <td>{{boligBrukesTil}}</td>
                    </tr>
                {{/if}}
                {{#unless this.eierBolig}}
                    {{#if this.depositumsBeløp}}
                        <tr>
                            <td>Har du en depositumskonto som leietaker?</td>
                            <td>Ja</td>
                        </tr>
                        <tr>
                            <td>Beløp på depositumskontoen</td>
                            <td>{{currency_no this.depositumsBeløp}}</td>
                        </tr>
                        <tr>
                            <td>Kontonummer</td>
                            <td>{{kontonummer}}</td>
                        </tr>
                    {{/if}}
                {{/unless}}
                <tr>
                    <td>Eier du bil, campingvogn eller andre kjøretøy?</td>
                    <td>{{#if this.kjøretøy}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if this.kjøretøy}}
                    {{#each this.kjøretøy}}
                        <tr>
                            <td>Registreringsnummer:</td>
                            <td>{{kjøretøyDeEier}}</td>
                        </tr>
                        <tr>
                            <td>Verdien av kjøretøyet:</td>
                            <td>{{currency_no verdiPåKjøretøy}}</td>
                        </tr>
                    {{/each}}
                {{/if}}
                <tr>
                    <td>Har du penger på konto?</td>
                    <td>{{#if this.innskuddsBeløp}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if this.innskuddsBeløp}}
                    <tr>
                        <td>Samlet verdi i kroner</td>
                        <td>{{currency_no this.innskuddsBeløp}}</td>
                    </tr>
                {{/if}}
                <tr>
                    <td>Har du aksjer, aksjefond eller verdipapir?</td>
                    <td>{{#if this.verdipapirBeløp}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if this.verdipapirBeløp}}
                    <tr>
                        <td>Samlet verdi i kroner</td>
                        <td>{{currency_no this.verdipapirBeløp}}</td>
                    </tr>
                {{/if}}
                <tr>
                    <td>Skylder noen deg mer enn 1000 kr?</td>
                    <td>{{#if this.skylderNoenMegPengerBeløp}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if this.skylderNoenMegPengerBeløp}}
                    <tr>
                        <td>Beløp i kroner</td>
                        <td>{{currency_no this.skylderNoenMegPengerBeløp}}</td>
                    </tr>
                {{/if}}
                <tr>
                    <td>Har du mer enn 1000 kr i kontanter?</td>
                    <td>{{#if this.kontanterBeløp}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if this.kontanterBeløp}}
                    <tr>
                        <td>Beløp i kroner</td>
                        <td>{{currency_no this.kontanterBeløp}}</td>
                    </tr>
                {{/if}}
            {{/with}}
            </tbody>
        </table>

        <table>
            <thead>
            <tr>
                <td class="tr50"><h4>Ektefelle/samboers inntekt</h4></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {{#with søknadInnhold.ektefelle.inntektOgPensjon}}
                <tr>
                    <td>Forventer du å ha arbeidsinntekt fremover?</td>
                    <td>{{#if this.forventetInntekt}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if this.forventetInntekt}}
                    <tr>
                        <td>Forventet arbeidsinntekt i kroner per måned</td>
                        <td>{{currency_no this.forventetInntekt}}</td>
                    </tr>
                {{/if}}
                <tr>
                    <td>Har du andre ytelser i NAV?</td>
                    <td>{{#if this.andreYtelserINav}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if this.andreYtelserINav}}
                    <tr>
                        <td>Hvilke ytelser?</td>
                        <td>{{this.andreYtelserINav}}</td>
                    </tr>
                    <tr>
                        <td>Beløp i kroner per måned</td>
                        <td>{{currency_no this.andreYtelserINavBeløp}}</td>
                    </tr>
                {{/if}}
                <tr>
                    <td>Har du søkt om andre trygdeytelser som ikke er behandlet?</td>
                    <td>{{#if this.søktAndreYtelserIkkeBehandletBegrunnelse}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if this.søktAndreYtelserIkkeBehandletBegrunnelse}}
                    <tr>
                        <td>Hvilke?</td>
                        <td>{{this.søktAndreYtelserIkkeBehandletBegrunnelse}}</td>
                    </tr>
                {{/if}}

                <tr>
                    <td>Har du mottatt sosialstønad i løpet av de siste tre månedene?</td>
                    <td>{{#if this.sosialstønadBeløp}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if this.sosialstønadBeløp}}
                    <tr>
                        <td>Beløp i kroner for alle tre månedene (valgfri)</td>
                        <td>{{currency_no this.sosialstønadBeløp}}</td>
                    </tr>
                {{/if}}

                <tr>
                    <td>Har du trygdeytelser i utlandet?</td>
                    <td>{{#if this.trygdeytelseIUtlandet}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if this.trygdeytelseIUtlandet}}
                    {{#each this.trygdeytelseIUtlandet}}
                        <tr>
                            <td>Beløp i lokal valuta per måned:</td>
                            <td>{{currency_no this.beløp}}</td>
                        </tr>
                        <tr>
                            <td>Valuta</td>
                            <td>{{this.valuta}}</td>
                        </tr>
                        <tr>
                            <td>Type ytelse</td>
                            <td>{{this.type}}</td>
                        </tr>
                    {{/each}}
                {{/if}}

                <tr>
                    <td>Mottar du tjenestepensjon eller pensjon?</td>
                    <td>{{#if this.pensjon}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if this.pensjon}}
                    {{#each this.pensjon}}
                        <tr>
                            <td>Pensjonsgiver</td>
                            <td>{{this.ordning}}</td>
                        </tr>
                        <tr>
                            <td>Beløp per måned</td>
                            <td>{{currency_no this.beløp}}</td>
                        </tr>
                    {{/each}}
                {{/if}}
            {{/with}}
            </tbody>
        </table>
    {{/eq}}
{{/with }}

<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Reise til utlandet</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {{#with søknadInnhold.utenlandsopphold}}
        <tr>
            <td>Har du reist til utlandet de siste 90 dager?</td>
            <td>{{#if this.registrertePerioder}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.registrertePerioder}}
            {{#each this.registrertePerioder}}
                <tr>
                    <td>Utreisedato</td>
                    <td>{{iso_to_date utreisedato}}</td>
                </tr>
                <tr>
                    <td>Innreisedato</td>
                    <td>{{iso_to_date innreisedato}}</td>
                </tr>
            {{/each}}
        {{/if}}
        <tr>
            <td>Har du planlagt å reise til utlandet i de neste 12 månedene?</td>
            <td>{{#if this.planlagtePerioder}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if this.planlagtePerioder}}
            {{#each this.planlagtePerioder}}
                <tr>
                    <td>Utreisedato</td>
                    <td>{{iso_to_date utreisedato}}</td>
                </tr>
                <tr>
                    <td>Innreisedato</td>
                    <td>{{iso_to_date innreisedato}}</td>
                </tr>
            {{/each}}
        {{/if}}
    {{/with}}
    </tbody>
</table>

<div>
    <p class="signaturHeader">Signatur, {{navn.fornavn}} {{navn.mellomnavn}} {{navn.etternavn}}
        , {{dagensDatoOgTidspunkt}}</p>
    <p>--------------------------------------------------</p>
</div>


</body>
</html>