<tr>
    <td>{{this.fornavn.spoersmaal}}</td>
    <td>{{this.fornavn.svar}}</td>
</tr>
<tr>
    <td>{{this.etternavn.spoersmaal}}</td>
    <td>{{this.etternavn.svar}}</td>
</tr>
<tr>
    <td>{{this.foedselsnummer.spoersmaal}}</td>
    <td>{{this.foedselsnummer.svar}}</td>
</tr>
