<div class="row">
    <div class="col">
        {{this.fornavn.spoersmaal}}
    </div>
    <div class="col">
        {{this.fornavn.svar}}
    </div>
</div>

<div class="row">
    <div class="col">
        {{this.etternavn.spoersmaal}}
    </div>
    <div class="col">
        {{this.etternavn.svar}}
    </div>
</div>

<div class="row">
    <div class="col">
        {{this.foedselsnummer.spoersmaal}}
    </div>
    <div class="col">
        {{this.foedselsnummer.svar}}
    </div>
</div>
