<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Andre ytelser</h4></td>
        <td></td>
    </tr>
    </thead>

    <tbody>
    {{#with andreYtelser}}
        <tr>
            <td>MottarAndreYtelser:</td>
            <td>{{this.mottarAndreYtelser}}</td>
        </tr>

        <tr>
            <td colspan="2">
                <table class="inner">
                    <thead>
                    <tr>
                        <th class="tr50">Krav om annen stonad:</th>
                        <th>{{this.kravOmAnnenStonad.svar}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Beskrivelse av stønad:</td>
                        <td>{{this.kravOmAnnenStonad.beskrivelseAvStoenad}}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        {{#with this.mottarPensjonUtland}}
            <tr>
                <td colspan="2">
                    <table class="inner">
                        <thead>
                        <tr>
                            <th class="tr50">Mottar pensjon fra utlandet:</th>
                            <th>{{this.svar}}</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Hva slags pensjon:</td>
                            <td>{{this.hvaSlagsPensjon}}</td>
                        </tr>
                        <tr>
                            <td>Fra hvilket land:</td>
                            <td>{{this.fraHvilketLand}}</td>
                        </tr>
                        <tr>
                            <td>Bruttobeløp pr år:</td>
                            <td>{{this.bruttobeloepPrAar}}</td>
                        </tr>
                        <tr>
                            <td>Landets valuta:</td>
                            <td>{{this.landetsValuta}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/with}}
    {{/with}}
    </tbody>
</table>
