<h3 class="beregning__heading">Slik beregner vi stønaden din:</h3>

<p>
    {{#if satsGrunn}}
        Du får {{sats}} sats fordi
        {{#eq satsGrunn "ENSLIG"}}du ikke deler bolig med voksne barn eller andre voksne.{{/eq}}
        {{#eq satsGrunn "DELER_BOLIG_MED_VOKSNE_BARN_ELLER_ANNEN_VOKSEN"}}
            du deler bolig med voksne barn eller andre voksne.{{/eq}}
        {{#eq satsGrunn "DELER_BOLIG_MED_EKTEMAKE_SAMBOER_UNDER_67"}}din ektefelle eller samboer er under 67 år.{{/eq}}
        {{#eq satsGrunn "DELER_BOLIG_MED_EKTEMAKE_SAMBOER_67_ELLER_ELDRE"}}
            du deler bolig med ektefelle eller samboer på 67 år eller eldre.{{/eq}}
        {{#eq satsGrunn "DELER_BOLIG_MED_EKTEMAKE_SAMBOER_UNDER_67_UFØR_FLYKTNING"}}
            du deler bolig med ektefelle eller samboer under 67 år som er ufør flyktning.{{/eq}}
    {{/if}}

    {{capitalize sats}} sats er {{currency_no satsBeløp true}} kroner i måneden.

    {{#if harFradrag}}
        Vi har redusert stønaden fordi du {{#if harEktefelle}}  og/eller ektefelle{{/if}} har annen inntekt.
    {{/if}}
</p>

<p>
    Vi bruker alltid det høyeste beløpet av arbeidsinntekten din og din forventede inntekt etter uførhet når vi beregner stønaden din. Du ser i beregningen hvilket beløp vi bruker.
</p>

{{#each beregningsperioder}}
    <table class="beregning">
        <tr>
            <td><b>{{capitalize periode.fraOgMed}} til {{periode.tilOgMed}}</b></td>
        </tr>

        <tr>
            <td>Supplerende stønad, {{sats}} sats</td>
            <td class="beregning__beløp">{{currency_no satsbeløpPerMåned}}</td>
        </tr>

        {{#if fradrag.bruker}}
            {{#each fradrag.bruker}}
                <tr>
                    <td>{{type}}</td>
                    <td class="beregning__beløp">- {{currency_no beløp}}</td>
                </tr>
                {{#if utenlandskInntekt}}
                    <tr>
                        <td colspan="2">
                            <ol class="beregning__utenlandsk">
                                <li>Beløp i utenlandsk valuta: {{utenlandskInntekt.valuta}} {{currency_no
                                        utenlandskInntekt.beløpIUtenlandskValuta}}</li>
                                <li>Kurs ved beregning: {{currency_no utenlandskInntekt.kurs}}</li>
                            </ol>
                        </td>
                    </tr>

                {{/if}}
            {{/each}}
        {{/if}}
        {{#if fradrag.eps.fradrag}}
            {{#each fradrag.eps.fradrag}}
                <tr>
                    <td>{{type}} (Ektefelle/samboer)</td>
                    <td class="beregning__beløp">- {{currency_no beløp}}</td>
                </tr>
                {{#if utenlandskInntekt}}
                    <tr>
                        <td colspan="2">
                            <ol class="beregning__utenlandsk">
                                <li>Beløp i utenlandsk valuta: {{utenlandskInntekt.valuta}} {{currency_no
                                        utenlandskInntekt.beløpIUtenlandskValuta}}</li>
                                <li>Kurs ved beregning: {{currency_no utenlandskInntekt.kurs}}</li>
                            </ol>
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
            <tr>
                <td>Fribeløp (Ektefelle/samboer)</td>
                <td class="beregning__beløp">{{currency_no epsFribeløp}}</td>
            </tr>
        {{/if}}
        <tr>
            <td><b>Sum per måned</b></td>
            <td class="beregning__beløp"><b>{{currency_no ytelsePerMåned}}</b></td>
        </tr>
    </table>
    {{#if fradrag.eps.harFradragMedSumSomErLavereEnnFribeløp}}
        <p>
            Inntekten til ektefelle/samboer er under fribeløpet på {{currency_no epsFribeløp}} kr per måned og er derfor ikke med i regnestykket for denne perioden.
        </p>
    {{/if}}
{{/each}}
