<table>
    <thead>
    <tr>
        <th colspan="2">
            <h4>Nåværende arbeidsforhold</h4>
        </th>
    </tr>
    </thead>

    <tbody>
    {{#with naavaerendeArbeidsforhold}}
        <tr>
            <td>Yrke:</td>
            <td>{{this.yrke}}</td>
        </tr>
        <tr>
            <td>Stilling:</td>
            <td>{{this.stilling}}</td>
        </tr>
        <tr>
            <td>Startdato:</td>
            <td>{{this.startDato}}</td>
        </tr>
        <tr>
            <td>Sluttdato:</td>
            <td>{{this.sluttDato}}</td>
        </tr>
        <tr>
            <td>Ansettelsesforhold:</td>
            <td>{{this.ansettelsesforhold}}</td>
        </tr>
        <tr>
            <td>Heltid / deltid:</td>
            <td>{{this.heltidDeltid}}</td>
        </tr>
        <tr>
            <td>Stillingsprosent:</td>
            <td>{{this.stillingsprosent}}</td>
        </tr>

        {{#with this.arbeidsgiver}}
            <tr>
                <td colspan="2">
                    <table class="inner">
                        <thead>
                        <tr>
                            <th colspan="2">
                                Arbeidsgiver
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td class="tr50">Arbeidsgivers navn:</td>
                            <td>{{this.navn}}</td>
                        </tr>
                        <tr>
                            <td>Arbeidsgivers adresse:</td>
                            <td>{{this.adresse}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/with}}

        {{#with this.inntekt}}
            <tr>
                <td colspan="2">
                    <table class="inner">
                        <thead>
                        <tr>
                            <th colspan="2">
                                Inntekter
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Brutto arbeidsinntekt pr. md.:</td>
                            <td>{{this.bruttoArbeidsinntektPrMd}}</td>
                        </tr>
                        <tr>
                            <td>Personinntekt fra næring pr. år.:</td>
                            <td>{{this.personinntektFraNaeringPrAr}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/with}}

    {{/with}}
    </tbody>
</table>
