<table>
    <thead>
    <tr>
        <th colspan="2">
            <h4>Opplysninger om søkeren</h4>
        </th>
    </tr>
    </thead>

    <tbody>
    {{#with opplysningerOmSoekeren}}

    <!-- TODO: Opplysninger om søker må fikses. Fylles ut av backend? -->

    <!--
        <tr>
            <td>Fornavn:</td>
            <td>{{this.fornavn}}</td>
        </tr>
        <tr>
            <td>Etternavn:</td>
            <td>{{this.etternavn}}</td>
        </tr>
        <tr>
            <td>Fødselsnummer:</td>
            <td>{{this.fødselsnummer}}</td>
        </tr>
        <tr>
            <td>Adresse:</td>
            <td>{{this.adresse}}</td>
        </tr>
        <tr>
            <td>Statsborgerskap:</td>
            <td>{{this.statsborgerskap}}</td>
        </tr>
-->

        <tr>
            <td>Folkeregistrert adresse bekreftet:</td>
            <td>{{this.bostedsadresseBekreftet}}</td>
        </tr>

        <tr>
            <td colspan="2">
                <table class="inner">
                    <thead>
                    <tr>
                        <th colspan="2">Oppholdsland</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Oppholder seg i Norge:</td>
                        <td>{{this.oppholderSegINorge}}</td>
                    </tr>
                    <tr>
                        <td>Oppholdsland:</td>
                        <td>{{this.oppholdsland}}</td>
                    </tr>
                    <tr>
                        <td>Medlem folketrygden utland:</td>
                        <td>{{this.medlemFolketrygdenUtland}}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        {{#with this.kontaktinfo}}
            <tr>
                <td colspan="2">
                    <table class="inner">
                        <thead>
                        <tr>
                            <th colspan="2">Kontaktinfo</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Telefonnummer:</td>
                            <td>{{this.telefonnummer}}</td>
                        </tr>
                        <tr>
                            <td>Epost:</td>
                            <td>{{this.epost}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/with}}

        {{#with this.forholdTilAvdoed}}
            <tr>
                <td colspan="2">
                    <table class="inner">
                        <thead>
                        <tr>
                            <th colspan="2">Forhold til den avdøde</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Forhold til avdøde:</td>
                            <td>{{this.forholdTilAvdoede}}</td>
                        </tr>
                        <tr>
                            <td>Dato for inngått partnerskap:</td>
                            <td>{{iso_to_nor_date this.datoForInngaattPartnerskap}}</td>
                        </tr>

                        <tr>
                            <td>Var skilt før dødsfall:</td>
                            <td>{{this.varSkiltFoerDoedsfall}}</td>
                        </tr>
                        {{#eq this.varSkiltFoerDoedsfall "Ja"}}
                            <tr>
                                <td>Dato for skilsmisse/samlivsbrudd:</td>
                                <td>{{this.datoForSkilsmisse}}</td>
                            </tr>
                        {{/eq}}

                        <tr>
                            <td>Mottok bidrag fra avdøde:</td>
                            <td>{{this.mottokBidragFraAvdoede}}</td>
                        </tr>
                        {{#eq this.mottokBidragFraAvdoede "Ja"}}
                            <tr>
                                <td>Beløp mottatt i bidrag fra avdøde:</td>
                                <td>{{this.bidragBeloepPrAar}}</td>
                            </tr>
                        {{/eq}}
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/with}}

        {{#with this.nySivilstatus}}
            <tr>
                <td colspan="2">
                    <table class="inner">
                        <thead>
                        <tr>
                            <th colspan="2">Ny sivilstatus</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Ny sivilstatus etter dødsfallet:</td>
                            <td>{{this.nySivilstatusEtterDoedsfallet}}</td>
                        </tr>
                        <tr>
                            <td>Dato inngått:</td>
                            <td>{{iso_to_nor_date this.datoForInngaaelse}}</td>
                        </tr>
                        <tr>
                            <td>Ny sivilstatus oppløst:</td>
                            <td>{{this.nySivilstatusOpploest}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/with}}

        {{#with this.samboer}}
            <tr>
                <td colspan="2">
                    <table class="inner">
                        <thead>
                        <tr>
                            <th colspan="2">Samboer</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Navn:</td>
                            <td>{{this.navn}}</td>
                        </tr>
                        <tr>
                            <td>Fødselsnummer:</td>
                            <td>{{this.foedselsnummer}}</td>
                        </tr>
                        <tr>
                            <td>Hatt barn eller vært gift:</td>
                            <td>{{this.hattBarnEllerVaertGift}}</td>
                        </tr>
                        <tr>
                            <td>Har inntekt:</td>
                            <td>{{this.harInntekt}}</td>
                        </tr>
                        <tr>
                            <td>Inntektstype:</td>
                            <td>
                            {{#with this.inntektstype}}
                                {{#each this}}
                                    {{this}},
                                {{/each}}
                            {{/with}}
                            </td>
                        </tr>
                        <tr>
                            <td>Samlet bruttoinntekt pr år:</td>
                            <td>{{this.samletBruttoinntektPrAar}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/with}}

    {{/with}}
    </tbody>
</table>
