{{> eypdfgen/partials_v2/common/opplysning this}}

{{#eq this.svar.verdi "JA"}}
    <div class="row">
        <div class="col">
            {{#eq spraak "en"}}
                Guardian
            {{else}}
                {{#eq spraak "nn"}}
                    Verge
                {{else}}
                    Verge
                {{/eq}}
            {{/eq}}
        </div>

        <div class="col">
            {{#with this.opplysning}}
                {{capitalize_names this.fornavn.svar}}
                {{capitalize_names this.etternavn.svar}}
                ({{this.foedselsnummer.svar}})
            {{/with}}
        </div>
    </div>
{{/eq}}
