<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        td {
            font-size: 0.9em;
            vertical-align: top;
            word-wrap: break-word;
        }

        table {
            width: 100%;
            border: 1px black solid;
            margin-bottom: 0.5cm;
        }

        table thead {
            background-color: lightblue;
        }

        td h4 {
            margin: 0;
        }

        .tr50 {
            width: 50%;
        }

        .signaturHeader {
            margin-bottom: 3em;
        }

        body {
            page-break-inside: avoid;
        }
    </style>
    <title>SØKNAD</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Fra dato</h4></td>
        <td></td>
    </tr>
    </thead>

    <tbody>
     <tr>
        <td>Fra dato:</td>
        <td>{{fraDato}}</td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Stønadstype</h4></td>
        <td></td>
    </tr>
    </thead>

    <tbody>
    {{#with stoenadType}}
        <tr>
            <td>Etterlatte:</td>
            <td>{{this.etterlatte}}</td>
        </tr>
        <tr>
            <td>Gjenlevendetilegg:</td>
            <td>{{this.gjenlevendetillegg}}</td>
        </tr>
        <tr>
            <td>Barnepensjon:</td>
            <td>{{this.barnepensjon}}</td>
        </tr>
        <tr>
            <td>Barnetilsyn:</td>
            <td>{{this.barnetilsyn}}</td>
        </tr>
        <tr>
            <td>Skolepenger:</td>
            <td>{{this.skolepenger}}</td>
        </tr>
    {{/with}}
    </tbody>
</table>

<div>
    <p class="signaturHeader">Signatur, {{navn.fornavn}} {{navn.mellomnavn}} {{navn.etternavn}}
        , {{dagensDatoOgTidspunkt}}</p>
    <p>--------------------------------------------------</p>
</div>


</body>
</html>