<h2>Opplysninger om den gjenlevende</h2>

<table>
    <thead>
    <tr>
        <th colspan="2">Personalia</th>
    </tr>
    </thead>

    <tbody>
        {{> eypdfgen/partials/common/personalia/enkelPersonalia this}}

        <tr>
            <td>Statsborgerskap:</td>
            <td>{{this.statsborgerskap}}</td>
        </tr>
        <tr>
            <td>Sivilstatus:</td>
            <td>{{this.sivilstatus}}</td>
        </tr>
        {{#if this.adresse}}
        <tr>
            <td>{{this.adresse.spoersmaal}}</td>
            <td>{{this.adresse.svar}}</td>
        </tr>
        {{/if}}
        {{#if this.flyktning}}
            <tr>
                <td>{{this.flyktning.spoersmaal}}</td>
                <td>{{capitalize_names this.flyktning.svar}}</td>
            </tr>
        {{/if}}
        {{#if this.bostedsAdresse}}
            <tr>
                <td>{{this.bostedsAdresse.spoersmaal}}</td>
                <td>{{capitalize_names  this.bostedsAdresse.svar}}</td>
            </tr>
            {{#eq this.bostedsAdresse.svar "NEI"}}
                 <tr>
                     <td>{{this.bostedsAdresse.opplysning.spoersmaal}}</td>
                     <td>{{this.bostedsAdresse.opplysning.svar}}</td>
                 </tr>
            {{/eq}}
        {{/if}}
    </tbody>
</table>

{{> eypdfgen/partials/common/personalia/kontaktinfo this.kontaktinfo}}

{{> eypdfgen/partials/gjenlevendepensjon/gjenlevende/oppholdsland this.oppholdUtland}}

{{> eypdfgen/partials/gjenlevendepensjon/gjenlevende/sivilstatus this.nySivilstatus}}

{{> eypdfgen/partials/gjenlevendepensjon/gjenlevende/forholdTilAvdoede this.forholdTilAvdoede}}

{{> eypdfgen/partials/gjenlevendepensjon/gjenlevende/situasjonenDin this}}
