 <tr>
    <td colspan="2">
        <table class="inner">
            <thead>
            <tr>
                <th colspan="2">Oppholdsland</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{this.spoersmaal}}</td>
                <td>{{capitalize_names this.svar}}</td>
            </tr>
            {{#eq this.svar "NEI"}}
                <tr>
                    <td>{{this.opplysning.land.spoersmaal}}</td>
                    <td>{{this.opplysning.land.svar}}</td>
                </tr>
                <tr>
                    <td>{{this.opplysning.medlemFolketrygd.spoersmaal}}</td>
                    <td>{{capitalize_names this.opplysning.medlemFolketrygd.svar}}</td>
                </tr>
            {{/eq}}
            </tbody>
        </table>
    </td>
</tr>