<h2>Opplysninger om gjenlevendes situasjon</h2>

{{#with soeker.arbeidOgUtdanning}}
    {{> eypdfgen/partials/gjenlevendepensjon/gjenlevende/situasjon/arbeidstaker}}

    {{> eypdfgen/partials/gjenlevendepensjon/gjenlevende/situasjon/selvstendig}}

    {{#with soeker.arbeidOgUtdanning.utdanning.svar}}
        <table>
            <thead>
            <tr>
                <th colspan="2">Utdanning</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{this.navn.spoersmaal}}</td>
                <td>{{this.navn.svar}}</td>
            </tr>
            <tr>
                <td>{{this.startDato.spoersmaal}}</td>
                <td>{{this.startDato.svar}}</td>
            </tr>
            <tr>
                <td>{{this.sluttDato.spoersmaal}}</td>
                <td>{{this.sluttDato.svar}}</td>
            </tr>
            </tbody>
        </table>
    {{/with}}

    {{#with soeker.arbeidOgUtdanning.annet}}
        <table>
            <thead>
            <tr>
                <th colspan="2">Annet</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{this.spoersmaal}}</td>
                <td>{{this.svar}}</td>
            </tr>
            </tbody>
        </table>
    {{/with}}
{{/with}}

{{#with soeker.fullfoertUtdanning}}
    <table>
        <thead>
        <tr>
            <th colspan="2">Fullført utdanning</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{this.spoersmaal}}</td>
            <td>{{capitalize_names this.svar}}</td>
        </tr>
        {{#with this.opplysning }}
            <tr>
                <td>{{this.opplysning}}</td>
                <td>{{this.svar}}</td>
            </tr>
        {{/with}}
        </tbody>
    </table>
{{/with}}

{{> eypdfgen/partials/gjenlevendepensjon/gjenlevende/situasjon/andreYtelser soeker.andreYtelser}}
