<div>
    <h4>
        {{#eq spraak "en"}}
            Sent by:
        {{else}}
            {{#eq spraak "nn"}}
                Sendt inn av:
            {{else}}
                Sendt inn av:
            {{/eq}}
        {{/eq}}
    </h4>

    <div>
        {{this.innsender.fornavn.svar}}
        {{this.innsender.etternavn.svar}}
        ({{this.innsender.foedselsnummer.svar}})
    </div>

    <div>
        {{iso_to_nor_datetime this.mottattDato}}
    </div>

    {{#not_eq this.soeker.foedselsnummer.svar this.innsender.foedselsnummer.svar}}
        <div>
            <h4>
                {{#eq spraak "en"}}
                    On behalf of
                {{else}}
                    {{#eq spraak "nn"}}
                        På vegne av
                    {{else}}
                        På vegne av
                    {{/eq}}
                {{/eq}}
            </h4>

            <div>
                {{this.soeker.fornavn.svar}}
                {{this.soeker.etternavn.svar}}
                ({{this.soeker.foedselsnummer.svar}})
            </div>
        </div>
    {{/not_eq}}
</div>
