<div class="row">
    <div class="col">
        <h4>
            {{#eq spraak "en"}}
                Sent by:
            {{else}}
                {{#eq spraak "nn"}}
                    Sendt inn av:
                {{else}}
                    Sendt inn av:
                {{/eq}}
            {{/eq}}
        </h4>

        <div>
            {{this.innsender.fornavn.svar}}
            {{this.innsender.etternavn.svar}}
            ({{this.innsender.foedselsnummer.svar}})
        </div>

        <div>
            {{iso_to_nor_datetime this.mottattDato}}
        </div>
    </div>

    {{#not_eq this.soeker.foedselsnummer.svar this.innsender.foedselsnummer.svar}}
        <div class="col">
            <h4>
                {{#eq spraak "en"}}
                    On behalf of
                {{else}}
                    {{#eq spraak "nn"}}
                        På vegne av
                    {{else}}
                        På vegne av
                    {{/eq}}
                {{/eq}}
            </h4>

            <div>
                {{this.soeker.fornavn.svar}}
                {{this.soeker.etternavn.svar}}
                ({{this.soeker.foedselsnummer.svar}})
            </div>
        </div>
    {{/not_eq}}
</div>
<div class="row">
    <div class="col">
        {{#eq spraak "nb"}}
            <h4>Målform:</h4>
            Bokmål
        {{/eq}}
         {{#eq spraak "nn"}}
            <h4>Målform:</h4>
            Nynorsk
        {{/eq}}
        {{#eq spraak "en"}}
            <h4>Language:</h4>
            English
        {{/eq}}
    </div>
</div>
