<tr>
    <td colspan="2">
        <table class="inner">
            <tbody>
            <tr>
                <td>
                    {{#eq spraak "en"}}
                        Parent
                    {{else}}
                        {{#eq spraak "nn"}}
                            Forelder
                        {{else}}
                            Forelder
                        {{/eq}}
                    {{/eq}}
                </td>

                <td>
                    {{capitalize_names this.fornavn.svar}}
                    {{capitalize_names this.etternavn.svar}}
                    ({{this.foedselsnummer.svar}})
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
